html{
    background: whitesmoke;
    
}
body {
    margin: 40px;
    font-family: 'Times New Roman', Times, serif ;
    font-size: 18px;
    margin:40px;
    padding: 10px;
    border-bottom:10px solid rgb(231, 126, 200) ;
    background-color: rgb(214, 211, 211);
  }

  .topnav {
    overflow: hidden;
    background-color: rgb(231, 126, 200);
    position: -webkit-sticky;
    position: sticky;
    top: 0;

  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  
 
  
  #blog{
      border-top: 3px solid rgb(231, 126, 200);
      background: rgb(168, 168, 168);
      display:flex;

  }
  .blog-post{
      border-bottom: 4px  solid #ccc;
      padding: 75px;
      margin: 10px;
       
  }

  .blog-post:nth-of-type(1){
      flex:2 ;

  }
  .blog-post:nth-of-type(2){
    flex:3 ;
}
.blog-post:nth-of-type(3){
    flex:2 ;
      
}


  [title~="msupic"] {
    border: 12px solid green;
  }

  [title~="airbnb"] {
    border: 12px solid white;
  }
  [title~="safespace"] {
    border: 12px solid rgb(61, 26, 255);
  }
  [title~="meetAuthor"] {
    border: 7px solid rgb(243, 210, 60);
  }
  img {max-width:100%;}

.img-cont{
   float:right;
   padding:2px;
   margin: 2px;
}
input { margin-bottom: 10px;
 }
